*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(img/skull.png), default;
}
:root{
    --bg: rgb(171, 207, 207);
    --box: rgb(111, 169, 207);
    --text: #1C2B3B;
}
section{
    width: 100%;
    height: 600px;
    background-color: var(--bg);
}
.intro, .about, .contact{
    margin: 20px auto;
    padding: 5px;

}
.box{
    height: 400px;
    padding: 20px;
    background-color: var(--box);
    margin: 30px;
    border: dotted 10px rgb(2, 1, 3);
    border-radius: 50px;
    --moz-border-image: url("img/dead.gif") 11  stretch repeat:round;
    -webkit-border-image: url("img/dead.gif") 11 stretch;
    border-image: url("img/dead.gif") 11  stretch;
    visibility: hidden;
    visibility: visible;
    box-shadow: 10px 20px 10px rgb(55, 71, 35, 0.5);
    display: flex;
    overflow: hidden;
}
.circle{
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 300px;
    background-color: rgb(90, 87, 87);
    border-radius: 300px;
    padding: 25px;
}
.circle img{
    min-height: 50px;
    max-height: 250px;
    min-width: 50px;
    max-width: 250px;
    border-radius: 300px;
}

.intro-content{
    text-align: center;
    font-size: 2em;
    background-color: bisque;
    margin: 20px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.header{
    width: 100%;
    position: fixed;
    top: 10px;
}
.sticky{
    position: sticky;
}
nav{
    background-color: var(--bg);
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;

}
ul{
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
ol{
    margin: 30px;
    font-size: 2em;
    color: var(--text);
    font-weight: bolder;
    list-style: upper-roman;
}
.about.box{
    display: block;
}
.list{
    list-style: image url(img/at.png);
}
.box1{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: -1px 1px 60px 15px rgb(215, 243, 8, 0.5);
    position:static;
    right: 50px;
}
.box2{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: -1px 1px 60px 15px rgb(215, 243, 8, 0.5);
    position:relative;
    left: 50px;
    top: -30px;
}

.box3{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: var(--text);
    border-radius: 20px;
    box-shadow: -1px 1px 60px 15px rgb(215, 243, 8, 0.5);
    position:absolute;
    left: 30%;
}
.box1 img, .box2 img, .box3 img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
