       *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        } 
        .start{
            font-size: medium;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }
        .details{
            display: flex;
            justify-content: center;
            background-color: #446983;
            padding: 20px;
            color: #DCD7C9;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }
        .border{
            margin: 20px;
            border: 5px;
            color: #DCD7C9;
            border-radius: 5px;
            justify-content: center;
        }
        body{
            margin: 20px, 20px;
            text-align: center;
            font-size: 1em;
            background-color: #446983;
            color: #DCD7C9;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .welcome{
            font-size: 1.5em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-style: oblique;
            border: 5px;
            padding: 10px;
        }
        
        section h2{
            color: #A27B5C;
            font-size: 1em;
            font-family: 'Times New Roman', Times, serif;
        }
        h1{
            background-color: #3F4F44;
            font-size: 1.75em;
            font-family: 'Times New Roman', Times, serif;
        
        }
        /* Header */
/* Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;        
    padding: 21px;
    background: linear-gradient(#38506A 0%, #7991A8 100%);
    border-radius: 12px;       
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(93, 104, 138, 0.4);        
}       

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #FFF2EF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header ul {
    display: flex;
    gap: 10px;
}

.header li {
    list-style: none;
}

.header a { 
    display: block;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF2EF;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.header a:hover {
    color: rgba(93, 104, 138);
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

        h3, h2{
            color: #A27B5C;
            font-size: 2em;
            font-family: 'Times New Roman', Times, serif;
        
        }
        li>a{
            text-decoration: none;
            color:#DCD7C9;
            font-size: 1.5em;
            font-family: 'Times New Roman', Times, serif;
        
        }